/.settings/
/.project
/bower_components/
/demo-target/
/demo/
/gs/
/target/react-bootstrap/
/target/bootstrap3/
/target/es5-shim/
/target/fontawesome/
/target/fonts/
/target/html5shiv/
/target/jquery/
/target/js-cookie/
/target/jsface/
/target/moment/
/target/react/
/target/respond/
/target/select2/
