/.settings/
/.project
/.idea/
/temp-test/
/bower_components
/node_modules
/src/fonts
/target/bootstrap3
/target/es5-shim
/target/fontawesome
/target/fonts
/target/html5shiv
/target/jquery
/target/js-cookie
/target/jsface
/target/moment
/target/react
/target/react-bootstrap
/target/respond
/target/select2
