hr.normal-line.custom-normal-line {
    border-top: solid 1px #00d95a;
}

hr.focus-line.custom-focus-line {
    border-top: solid 2px #ff2222;
}

div.currency.n-text input {
    text-align: right;
}

.has-error .form-control.search-code + span {
    color: #f44336;
}
.form-control.search-code + span {
    font-size: inherit;
    font-weight: bold;
    left: -22%;
}
.form-control.search-code + span:before {
    content: ' - ';
}
.form-control.search-label {
    padding-left: 5px;
}
