div.n-array-tab {
	> div.n-array-tab-content {
		border-bottom-left-radius: @border-radius;
		border-bottom-right-radius: @border-radius;
		padding: @container-padding-top 15px @container-padding-bottom;
		border: solid 1px @border-color;
		margin-top: -1px;
		> div.show {
			display: block;
		}
		> div.hide {
			display: none;
		}
	}
}
