@CHARSET "UTF-8";
/** screen size */
/* 1350 */
@media (min-width: 1350px) {
    .container {
        width: 1320px;
    }
}

@media (min-width: 1350px) {
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
        float: left;
    }

    .col-lg-12 {
        width: 100%;
    }

    .col-lg-11 {
        width: 91.66666667%;
    }

    .col-lg-10 {
        width: 83.33333333%;
    }

    .col-lg-9 {
        width: 75%;
    }

    .col-lg-8 {
        width: 66.66666667%;
    }

    .col-lg-7 {
        width: 58.33333333%;
    }

    .col-lg-6 {
        width: 50%;
    }

    .col-lg-5 {
        width: 41.66666667%;
    }

    .col-lg-4 {
        width: 33.33333333%;
    }

    .col-lg-3 {
        width: 25%;
    }

    .col-lg-2 {
        width: 16.66666667%;
    }

    .col-lg-1 {
        width: 8.33333333%;
    }

    .col-lg-pull-12 {
        right: 100%;
    }

    .col-lg-pull-11 {
        right: 91.66666667%;
    }

    .col-lg-pull-10 {
        right: 83.33333333%;
    }

    .col-lg-pull-9 {
        right: 75%;
    }

    .col-lg-pull-8 {
        right: 66.66666667%;
    }

    .col-lg-pull-7 {
        right: 58.33333333%;
    }

    .col-lg-pull-6 {
        right: 50%;
    }

    .col-lg-pull-5 {
        right: 41.66666667%;
    }

    .col-lg-pull-4 {
        right: 33.33333333%;
    }

    .col-lg-pull-3 {
        right: 25%;
    }

    .col-lg-pull-2 {
        right: 16.66666667%;
    }

    .col-lg-pull-1 {
        right: 8.33333333%;
    }

    .col-lg-pull-0 {
        right: auto;
    }

    .col-lg-push-12 {
        left: 100%;
    }

    .col-lg-push-11 {
        left: 91.66666667%;
    }

    .col-lg-push-10 {
        left: 83.33333333%;
    }

    .col-lg-push-9 {
        left: 75%;
    }

    .col-lg-push-8 {
        left: 66.66666667%;
    }

    .col-lg-push-7 {
        left: 58.33333333%;
    }

    .col-lg-push-6 {
        left: 50%;
    }

    .col-lg-push-5 {
        left: 41.66666667%;
    }

    .col-lg-push-4 {
        left: 33.33333333%;
    }

    .col-lg-push-3 {
        left: 25%;
    }

    .col-lg-push-2 {
        left: 16.66666667%;
    }

    .col-lg-push-1 {
        left: 8.33333333%;
    }

    .col-lg-push-0 {
        left: auto;
    }

    .col-lg-offset-12 {
        margin-left: 100%;
    }

    .col-lg-offset-11 {
        margin-left: 91.66666667%;
    }

    .col-lg-offset-10 {
        margin-left: 83.33333333%;
    }

    .col-lg-offset-9 {
        margin-left: 75%;
    }

    .col-lg-offset-8 {
        margin-left: 66.66666667%;
    }

    .col-lg-offset-7 {
        margin-left: 58.33333333%;
    }

    .col-lg-offset-6 {
        margin-left: 50%;
    }

    .col-lg-offset-5 {
        margin-left: 41.66666667%;
    }

    .col-lg-offset-4 {
        margin-left: 33.33333333%;
    }

    .col-lg-offset-3 {
        margin-left: 25%;
    }

    .col-lg-offset-2 {
        margin-left: 16.66666667%;
    }

    .col-lg-offset-1 {
        margin-left: 8.33333333%;
    }

    .col-lg-offset-0 {
        margin-left: 0;
    }
}

@media (min-width: 1350px) {
    .visible-lg {
        display: block !important;
    }

    table.visible-lg {
        display: table;
    }

    tr.visible-lg {
        display: table-row !important;
    }

    th.visible-lg,
    td.visible-lg {
        display: table-cell !important;
    }
}

@media (min-width: 1350px) {
    .visible-lg-block {
        display: block !important;
    }
}

@media (min-width: 1350px) {
    .visible-lg-inline {
        display: inline !important;
    }
}

@media (min-width: 1350px) {
    .visible-lg-inline-block {
        display: inline-block !important;
    }
}

@media (min-width: 1350px) {
    .hidden-lg {
        display: none !important;
    }
}

/* Sticky header styles*/
body {
    padding-top: 60px;
}

/* Sticky footer styles */
html {
    position: relative;
    min-height: 100%;
    overflow-y: scroll;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 40px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 40px;
    background-color: #f5f5f5;
}

.footer .container .text-muted {
    margin: 10px 0;
}

/* hierarchical dropdown menu */
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #cccccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
    border-left-color: #ffffff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

/* form control */
/* checkbox */
a.n-checkbox:hover, a.n-checkbox:visited, a.n-checkbox:link, a.n-checkbox:active {
    text-decoration: none;
}

a.n-checkbox {
    position: relative;
    display: block;
    margin-top: 7px;
}

a.n-checkbox > span {
    color: #9d9d9d;
}

/* panel footer */
div.btn-toolbar.panel-footer {
    margin-top: 10px;
    padding: 0px;
    border-top: 0px;
    background-color: transparent;
}

div.btn-toolbar.panel-footer-left {

}

div.btn-toolbar.panel-footer-right {
    float: right;
}

/** ntable */
div.n-table-container {
    margin-top: 5px;
    margin-bottom: 0px;
}

div.n-table-heading {
}

div.n-table-heading.panel-heading {
    padding-top: 5px;
    padding-bottom: 5px;
}

div.n-table-heading label.n-table-heading-label {
    margin-top: 5px;
}

div.n-table-heading ul.n-table-heading-buttons {
    margin: 0px;
    font-weight: normal;
    padding-left: 5px;
}

div.n-table-heading ul.n-table-heading-buttons a {
    padding: 4px 6px;
}

div.n-table-heading input.n-table-search-box {
    width: 200px;
    height: 30px;
    font-weight: normal;
}

div.n-table-body-container.panel-body {
    padding: 0px;
    position: relative;
    border-bottom: 1px solid #ddd;
}

div.n-table-panel-body {
    overflow: auto;
}

div.n-table-panel-body .n-table-scroll-head {
    overflow: hidden;
}

div.n-table-panel-body div.n-table-scroll-head > div.n-table-scroll-head-inner {
    padding-right: 17px;
    box-sizing: content-box;
    background-image: linear-gradient(to bottom, #f5f5f5 0, #e8e8e8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5',
    endColorstr='#ffe8e8e8', GradientType=0);
    background-repeat: repeat-x;
}

div.n-table-panel-body div.n-table-scroll-body {

}

table.n-table {
}

table.n-table a.n-table-sort {
    font-size: 10px;
    line-height: 1.5;
    padding-right: 5px;
    margin-top: 3px;
}

table.n-table a.n-table-sort:hover, table.n-table a.n-table-sort:link,
table.n-table a.n-table-sort:active, table.n-table a.n-table-sort:visited {
    color: #9f9f9f;
}

table.n-table a.n-table-sort.n-table-sorted:hover, table.n-table a.n-table-sort.n-table-sorted:link,
table.n-table a.n-table-sort.n-table-sorted:active, table.n-table a.n-table-sort.n-table-sorted:visited {
    color: #337ab7;
}

table.n-table thead tr {
    height: 32px;
    font-weight: bold;
}

table.n-table thead tr td {
    padding-left: 5px;
    background-image: linear-gradient(to bottom, #f5f5f5 0, #e8e8e8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5',
    endColorstr='#ffe8e8e8', GradientType=0);
    background-repeat: repeat-x;
}

table.n-table thead tr td {
    border-right: 1px solid #ddd;

}

table.n-table tbody tr td {
    padding: 3px 5px;
    white-space: nowrap;
    height: 32px;
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

table.n-table tbody tr td:last-child, table.n-table thead tr td:last-child {
    border-right: 0px;
}

div.n-table-fix-left table.n-table tr td:last-child {
    border-right: 1px solid #ddd;
}

div.n-table-fix-left table.n-table thead tr td:last-child {
    border-right: 0px \0; /* only for IE9 */
}

div.n-table-fix-right table.n-table tr td:first-child {
    border-left: 1px solid #ddd;
}

table.n-table div.n-table-op-btn-group button.n-table-op-btn {
    font-size: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
}

table.n-table tbody tr.odd.hover, table.n-table tbody tr.even.hover {
    background-color: #eee;
}

table.n-table tbody tr.odd {
    background-color: #f5f5f5;
}

table.n-table tbody tr.even {
    background-color: white;
}

div.n-table-fix-left {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 1px;
}

div.n-table-fix-right {
    position: absolute;
    top: 0px;
    right: -1px;
    height: 1px;
    border-right: 1px solid #ddd;
}

div.n-table-fix-right div.n-table-fix-right-head-wrapper {
    position: relative;
    top: 0px;
    left: 0px;
}

div.n-table-fix-right div.n-table-fix-right-top-corner {
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 17px;
    right: -17px;
    display: block;
    background-image: linear-gradient(to bottom, #f5f5f5 0, #e8e8e8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5',
    endColorstr='#ffe8e8e8', GradientType=0);
    background-repeat: repeat-x;
    border-right: 1px solid #ddd;
}

div.n-table-no-data {
    padding: 5px;
    text-align: center;
}

div.n-table-pagination {
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

div.n-table-pagination ul.pagination {
    margin: 0px;
}

div.n-table-pagination ul.pagination a:focus {
    background-color: white;
}

div.n-table-edit-dialog > div.modal-dialog {
    width: 900px;
}

/* pagination styles */
div.pagination-status > div {
    display: table;
    height: 34px;
}

div.pagination-status > div > span {
    vertical-align: middle;
    display: table-cell;
}

div.pagination-status-buttons {
    text-align: right;
}

/** modal form styles */
div.modal-form-footer.modal-footer {
    text-align: left;
}

div.modal-form-footer.modal-footer div.btn-toolbar.panel-footer {
    margin-top: 0px;
}

/* search text styles */
div.input-group.search-text {
    border: 1px solid #ccc;
    border-radius: 4px;
}

div.input-group.search-text .input-btn-group > .btn {
    float: none;
}

div.input-group .form-control.search-code {
    width: 50%;
    border: 0px;
    border-right: 1px solid #ccc;
}

div.input-group .form-control.search-label {
    border: 0px;
    width: 150%;
    margin-left: -50%;
    background-color: #fff;
}

div.input-group.search-text > span.input-group-addon {
    border: 0px;
}

div.input-group.search-text > span.input-group-addon.search-btn {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

/** icon style */
span.fa.fa-middle {
    vertical-align: middle;
}

/** error styles */
span.required {
    color: #a94442;
}

div.has-error > label {
    color: #a94442;
}

div.has-error input[type="text"] {
    color: #a94442;
}

div.has-error span.select2-selection {
    border-color: #a94442;
    color: #a94442;
}

div.has-error .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #a94442;
}

div.has-error .select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #a94442 transparent transparent transparent;
}

div.has-error .select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #a94442;
}

div.has-error div.popover {
    max-width: 500px;
    border-color: #a94442;
}

div.has-error div.popover div.arrow {
    border-top-color: #a94442;
}

div.has-error div.popover div.popover-content {
    color: #a94442;
}

table.n-table tbody tr.odd.has-error {
    background-color: #f2dede;
}

table.n-table tbody tr.even.has-error {
    background-color: #f2dede;
}

div.has-error div.input-group.search-text {
    border-color: #a94442;
}

div.has-error div.input-group .form-control.search-code {
    border-color: #a94442;
    color: #a94442;
}

div.has-error div.input-group.search-text > span.input-group-addon.search-btn {
    border-color: #a94442;
    color: #a94442;
    background-color: #f2dede;
}

/** select2 replace for bootstrap */
.select2-container .select2-selection--single {
    height: auto;
    line-height: 32px; /* change from 28px to 32px to fit the bootstrap height */
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 32px; /* change from 28px to 32px to fit the bootstrap height */
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 30px; /* change height from 26px to 30px to fit the bootstrap height */
}

.select2-container--default .select2-selection--single {
    border: 1px solid #ccc;
}

